@import '../../styles/styles.scss';

.button {
  display: inline-block;
  border: none;
  margin: 0; /* Removes margins in Safari */
  color: $color-black;
  text-decoration: none;
  background-color: $color-primary;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  text-align: center;
  position: relative;
  outline: none;
  transition: color 0.1s ease;
  cursor: pointer;

  &:hover {
    color: $color-darkgray;
  }

  &:active {
    color: $color-black;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $color-lightgray;
    color: $color-darkgray;

    &:hover {
      color: $color-darkgray;
    }
  }
}
