.button {
  display: inline-block;
  border: none;
  color: black;
  text-decoration: none;
  background-color: aquamarine;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  text-align: center;
  position: relative;
  outline: none;
  transition: color 0.1s ease;
  cursor: pointer;

  &:hover {
    color: grey;
  }

  &:active {
    color: black;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: gainsboro;
    color: grey;

    &:hover {
      color: grey;
    }
  }
}
