@import '../../styles/styles.scss';

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $color-primary;
}

.pagelink {
  height: fit-content;
  padding: 0.4rem;
  background-color: $color-primary;
  opacity: 1;

  &:hover {
    background-color: $color-white;
    color: $color-black;
  }
}

.selected {
  background-color: $color-white;
  color: $color-black;
}

.buttonPrev {
  border: 1px solid $color-black;
  border-radius: 10px 0 0 10px;

  @media screen and (max-width: 560px) {
    margin-left: 50px;
  }
}

.buttonNext {
  border: 1px solid $color-black;
  border-radius: 0 10px 10px 0;
}

.offset {
  margin-left: 50px;
}
