@import '../../styles/styles.scss';

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 40px;
  height: 40px;
  border: 10px solid $color-lightgray;
  border-top: 10px solid $color-primary;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.container {
  left: 20px;
  top: 0;
  bottom: 0;
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
}
