$color-primary: aquamarine;
$color-error: red;
$color-gray: lightgray;
$color-darkgray: grey;
$color-lightgray: #f3f3f3;
$color-black: black;
$color-white: white;

$color-boxshadow: rgba(0, 0, 0, 0.2);
$color-boxshadow-2: rgba(0, 0, 0, 0.19);
